<div class="top-content">
  <div class="title-div" routerLink="/home"><h1 >FantôMasters</h1><img src="assets/ghost-logo.png" width="75" height="70" /></div>
  <div class="login-btn-div">
    <div *ngIf="user.isConnected; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <span class="profile"><span>{{user.id}} </span><span>({{user.role}}) </span></span>
      <button class="edit-role-btn" [routerLink]="['user', user.id, 'edit-role']"> Changer de rôle </button>
      <button class='login-btn' routerLink="logout" (click)="logOut()">Déconnexion</button>
    </ng-template>
    <ng-template #elseBlock><button class='login-btn' routerLink="/login">Connexion</button></ng-template>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>