/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(57, 150, 190);
}

.container {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.login-btn {
  border: none;
  border-radius: 7px;
  height: 30px;
}

.login-btn:hover {
  background-color: rgb(195, 198, 201);
}

.errorMessage {
  background-color: rgb(236, 173, 173);
  text-align: center;
  color: rgb(248, 33, 33);
  border-radius: 3px;
  margin: 5px;
  font-size: 15px;
}